.row
  .span8
    %ul.box
      %li
        .title Online
        %h1 #{@total_online}
      %li
        .title Audit Date
        %h4 #{@audit_info['audit_date']}

      %li
        .title Last Audit
        %h4 #{@audit_info['last_audit']}

      %li
        .title Audit Found
        %h4 #{@audit_info['audit_found']} 
    %ul.smallbox
      -@pcstatus.each_pair do |k, v| 
        -if v == 1
          %li.online #{k}
        -if v == 0
          %li.offline #{k}

.row
  .span12
    %ul.longbox
      %li
        %br
        .title Total
      %li
        .title Hari Ini
        %h4 #{currency(@total_income_today)}
      %li
        .title Kemaren
        %h4 #{currency(@total_income_yesterday)}



.row
  .span12
    %ul.longbox
      %li
        %br
        .title Rental
      %li
        .title Hari Ini
        %h4 #{currency(@total_rental_today)}
      %li
        .title Kemaren
        %h4 #{currency(@total_rental_yesterday)}

.row
  .span12
    %ul.longbox
      %li
        %br
        .title Akun
      %li
        .title Hari Ini
        %h4 #{currency(@total_account_today)}
      %li
        .title Kemaren
        %h4 #{currency(@total_account_yesterday)}






            